/* pj ellis - bioSite Page - csd 340 - css code */
  
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #666666;
    background-image: linear-gradient(#666666, #EEEEEE);
    box-sizing: border-box;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size: 52pt;
    text-align: center;
    margin: 0px auto;
    text-shadow: 2px 2px 5px #666666;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 42pt;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    text-shadow: 2px 2px 5px #666666;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
}

.wrapper {
    width: 960px;
    margin: 0px auto;
    border: 1pt solid black;
    text-align: justify;
    background-color: whitesmoke;
}

.main_photo {
    width: 960px;
    height: 740px;
    margin: 0px auto;
    border: 1pt solid black;
}

.navbar {
    top: 0px;
    background-color: black;
    position: sticky;
    z-index: 99999;
}

.navbar a {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: black;
    color: white;
    float: right;
    display: inline;
    font-size: 14pt;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

.navbar a:hover {
    color: cornflowerblue;
}

.navbar:after {
    content: "";
    clear: both;
    display: table;
}

.content {
    width: 920px;
    margin: 0px auto;
    padding: 20px;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 915px;
    justify-content: space-evenly;
}

.work_pic {
    width: 50%;
    height: auto;
    float: right;
    padding: 10px;
    margin-left: 20px;
    overflow: auto;
    display: inline;
    align-items: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grid-container_4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: auto;
    justify-content: space-evenly;
}

.quotebox {
    width: 750px;
    margin: 0px auto;
    border-top: 2pt solid #666666;
    border-bottom: 2pt solid #666666;
}

blockquote {
    font-family: 'Nanum Gothic', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 18pt;
    color: #000000;
    text-shadow: 2px 2px 5px #666666;
}

.hobbies {
    width: 960px;
    margin: 10px 0px 0px;
    padding: 0px;
    overflow: auto;
    display: flex;
}

#golf_left {
    width: 70%;
    margin: 0px 0px 0px 10px;
    padding: 20px;
    overflow: auto;
    background-color: #EEEEEE;
}

#golf_right {
    width: 30%;
    margin: 0px 10px 0px 0px;
    padding: 20px;
    overflow: auto;
    background-color: #EEEEEE
}

#fish_left {
    width: 30%;
    margin: 0px 0px 0px 10px;
    padding: 20px;
    overflow: auto;
    background-color: #CCCCCC;
}

#fish_right {
    width: 70%;
    margin: 0px 10px 0px 0px;
    padding: 20px;
    overflow: auto;
    background-color: #CCCCCC;
}

#vibin_left {
    width: 30%;
    margin: 0px 0px 10px 10px;
    padding: 20px;
    overflow: auto;
    background-color: #EEEEEE;
}

#vibin_center {
    width: 40%;
    margin: 0px auto 10px;
    padding: 20px;
    overflow: auto;
    background-color: #EEEEEE;
}

#vibin_right {
    width: 30%;
    margin: 0px 10px 10px 0px;
    padding: 20px;
    overflow: auto;
    background-color: #EEEEEE;
}

ul {
    float: left;
    padding: 10px 20px 20px;
    margin: 10px 10px 10px;
    text-align: left;
    list-style-type: square;
    list-style-position: outside;
}

li {
    font-size: 18pt;
}

figure {
    margin: 5px 10px;    
    padding: 10px;
    text-align: center;
}

figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: .75em;
    font-weight: 400;
    margin-top: 10px;
}

.firstcharacter {
    color: black;
    text-shadow: 2px 2px 5px #666666;
    float: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.cbchange {
    position: relative;
    display: inline-block;
}

.cbchange img {
    border: 2pt solid white;
    box-shadow: 0px 0px 5px 0px #000000;
}

.cbchange .img-reg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.cbchange:hover .img-reg {
    display: inline;
}

footer {    
    width: 960px;
    height: auto;
    margin: 0px auto;
    top: 0px;
    border-top: 3pt solid black;
    border-bottom: 15pt solid black;
    border-right: 1pt solid black;
    border-left: 1pt solid black;
}

.socials {
    background-color: #CCCCCC;
    text-align: center;
    display: block;
    padding: 14px;
}

.socials a {
    padding: 5px 40px;
    position: relative;
    display: inline-block;
}

.socials img{
    width: 32px;
    height: auto;
    background-color: white;
    border: 1pt solid black;
    border-radius: 2pt;
}

.soclink:hover {
    box-shadow: 0px 0px 10px 0px cornflowerblue;
}

.resources {
    margin: 100px auto;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 850px;
    margin: 0px auto 30px;
    border: 2pt solid black;
    background-color: #CCCCCC;
}

th {
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    text-indent: 10px;
    color: white;
    background-color: black;
}

td {
    border: 1px solid black;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-indent: 20px;
}

td a {
    text-decoration: none;
}

td a:visited {
    color: moccasin;
}

td a:hover {
    color: black;
}


/* END OF CSS */